{% extends 'blog.html' %}
{% import 'macro.html' as macro %}

{% block title %}
{{ super() }}
DeepLearning
{% endblock %}
<link rel="stylesheet" href="{{url_for('static', filename='css/programming.css')}}">

{% block titulo %}
{{super()}}
<h3>Deep Learning</h3>
{% endblock %}

{% block contentblog %}

<div>
    <div class="modal-body" data-spy="scroll" data-offset="20">
        <div class="container">
            <div class="row">
                <div id="list-example" class="list-group col-sm-3">
                    {% for titulo, pagina in pages.items() %}
                    {{macro.lateral_bar(titulo, pagina)}}
                    {% endfor %}
                </div>
                <div bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0"
                    class="scrollspy-example col-sm-9" tabindex="0">
                    {% block deeplearning %}

                    {% endblock%}
                </div>
            </div>
        </div>
    </div>


    {% endblock %}