{% extends 'blog.html' %}

{% block title %}
{{ super() }}
DeepLearning
{% endblock %}
<link rel="stylesheet" href="{{url_for('static', filename='css/programming.css')}}">

{% block titulo %}
{{super()}}
<h2>Deep Learning</h2>
{% endblock %}

{% block contentblog %}

<div>
    <div class="modal-body" data-spy="scroll" data-offset="20">
        <div class="container">
            <div class="row">
                <div id="list-example" class="list-group col-sm-3">
                    <a href="{{url_for('blog.deeplearning.deeplearning_simple_neural_network.deeplearning_simple_neural_network_page')}}"
                        class="btn-in list-group-item list-group-item-action">Simple Neural Network</a>
                    <a href="{{url_for('blog.deeplearning.deeplearning_sign_detection.deeplearning_sign_detection_page')}}"
                        class="btn-in list-group-item list-group-item-action">Sign detection</a>
                </div>
                <div bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0"
                    class="scrollspy-example col-sm-9" tabindex="0">
                    {% block deeplearning %}

                    {% endblock%}
                </div>
            </div>
        </div>
    </div>


    {% endblock %}