{% extends 'layout.html'%}

{% block content %}
<h1>Mi primera pagina web con flask</h1>
<div class="container p-3 d-inline-flex flex-wrap justify-content-around">
    <div class="card" style="width: 18rem;">
        <img src="{{image1}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Deep Learning</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{{image2}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Data science</h5>
            <p class="card-text">Another example of content.</p>
            <a href="#" class="btn btn-primary">Go somewhere 2</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{{image3}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mechatronic</h5>
            <p class="card-text">Even another example of content.</p>
            <a href="#" class="btn btn-primary">Go somewhere 3</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{{image4}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Physics</h5>
            <p class="card-text">Even another example of content.</p>
            <a href="#" class="btn btn-primary">Go somewhere 3</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{{image5}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mathematics</h5>
            <p class="card-text">Even another example of content.</p>
            <a href="#" class="btn btn-primary">Go somewhere 3</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{{image6}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Quantum Field Theory</h5>
            <p class="card-text">Even another example of content.</p>
            <a href="#" class="btn btn-primary">Go somewhere 3</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{{image7}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Black Holes</h5>
            <p class="card-text">Even another example of content.</p>
            <a href="#" class="btn btn-primary">Go somewhere 3</a>
        </div>
    </div> 
</div>



{% endblock%}