{% extends 'blog.html' %}

{% block title %}
{{ super() }}
Programming
{% endblock %}

{% block titulo %}
{{super()}}
<h2>Programming Page</h2>
{% endblock %}

<link rel="stylesheet" href="{{url_for('static', filename='css/programming.css')}}">

{% block contentblog %}
<div>
    <div class="modal-body" data-spy="scroll" data-offset="20">
        <div class="container">
            <div class="row">
                <div id="list-example" class="list-group col-sm-3">
                    <a href="{{url_for('blog.programming.programming_gas_simulator.programming_gas_simulator_page')}}"
                        class="btn-in list-group-item list-group-item-action">Gas
                        simulator</a>
                    <a href="{{url_for('blog.programming.programming_portfolio.programming_portfolio_page')}}"
                        class="btn-in list-group-item list-group-item-action">Portfolio Webpage</a>
                </div>
                <div bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0"
                    class="scrollspy-example col-sm-9" tabindex="0">
                    {% block programming %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}